---
import ArticleItem from "../components/ArticleItem.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout>
  <Header isH1={true} />
  <main>
    <div class="articles">
      <h2 class="heading">Articles</h2>
      {
        posts.map((post) => (
          <ArticleItem
            title={post.data.title}
            pubDate={post.data.pubDate}
            link={`blog/${post.id}`}
          />
        ))
      }
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .articles {
    display: grid;
    gap: 1rem;

    max-inline-size: var(--content-width);
    margin-block-start: 2rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .heading {
    border-block-end: 1px solid var(--text-secondary);
    font-size: 1rem;
    font-weight: 700;
  }
</style>
