---
import { SITE_NAME } from "../consts";

interface Props {
  isH1?: boolean;
}

const { isH1 = false } = Astro.props;
---

<header class="header">
  {
    isH1 ? (
      <h1 class="site-title">
        <a href="/" class="link">
          {SITE_NAME}
        </a>
      </h1>
    ) : (
      <div class="site-title">
        <a href="/" class="link">
          {SITE_NAME}
        </a>
      </div>
    )
  }
</header>

<style>
  .header {
    display: flex; /* stylelint-disable defensive-css/require-flex-wrap */
    align-items: center;

    max-inline-size: var(--content-width);
    margin-block-start: 2rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .site-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .link {
    color: var(--text-primary);
  }
</style>
